/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap');

/* Common styles */

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.section-paragraph {
    font-size: 16px;
    color: #727272;
    /* margin-bottom: 30px; */
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    padding: 20px 25px;
    margin-top: 30px;
}

section {
    margin-bottom: 80px;
}

/* Navigation styles */

.header {
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    gap: 40px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-right a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}


/* banner styles */
.banner {
    width: 850px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-image img {
    width: 100%;
}

.banner-image {
    margin: 45px auto;
}

/* Main Styles */

/* Quick Feature list */
.quick-features-list {
    display: flex;
    gap: 73px;
    margin-top: 85px;
    align-items: center;
    padding: 0 50px;
}

.quick-features-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-features-left img {
    width: 342px;
}

.thicker-quick-list {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.orange-features {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* Features you love styles */

.features-you-love {
    display: flex;
    gap: 140px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lovely-feature-border {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.single-feature {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.lovely-feature-left {
    padding-top: 0;
}

.lovely-feature-right {
    padding-top: 100px;
}

/* .lovely-feature-right img {
    width: 100%;
} */


/* Unique button */
.unique-btn {
    position: relative;
    top: -100px;
    left: -100px;
    bottom: 0;
    padding: 45px 42px;

}

.year-btn-text {
    font-weight: 700;
    font-size: 65px;
}

/* Some Facts Styles */

.all-facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 120px;
    margin-top: 60px;
    /* margin-bottom: 100px; */
}

.single-fact {
    border: 1px solid #FF900E;
    width: 140px;
    height: 140px;
    border-radius: 8px;
    padding: 35px 30px;
    text-align: center;
    transition: background-color 1s ease-out, transform 1s ease-out;
    ;
}

.single-fact:hover {
    background-color: #ff900e;
    transform: scale(1.1);
    cursor: pointer;
}

/* Our sponsor styles */

.sponsor-info {
    text-align: center;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin-top: 50px;
}


/* Footer styles */
.footer {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 10px 0;
    border-radius: 8px;
}

.footer p {
    text-align: center;
}